spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  cache:
    caffeine:
      spec: maximumSize=100,expireAfterWrite=20s

jwt:
  secret:
    key: ${JWT_SECRET_KEY}
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ${DEV_URL}
    username: ${DEV_USERNAME}
    password: ${DEV_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver